<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <link rel="stylesheet" type="text/css" href="../css/cards.css">
    <script type="text/javascript" src = "../js/cards.js" type="module"></script>

    <title>SVNIT FLash</title>
  </head>
<body>
<div class="container">
<div class="header navbar navbar-default navbar-fixed-top">
  <div class="row text-center">
      <div class="col-md-3 logo">
              <img src="images/svnit logo.png" class="img-responsive">
      </div>
      <div class="col-md-9 ">
              <div class="row">
              <div class="col-md-12"> <h2> SVNIT Flash </h2>
              </div></div>
              <div class="row">
          <div class="col-md-2">
               <button onclick="window.open('#sixth','_self')" role="button">
               <a class="" href="#sixth">About Us</a>
              </button>
          </div>
          <div class="col-md-2">
               <button onclick="window.open('#sixth','_self')" role="button">
               <a class="" href="#sixth">About Us</a>
              </button>
          </div>
          <div class="col-md-2">
               <button onclick="window.open('#sixth','_self')" role="button">
               <a class="" href="#sixth">About Us</a>
              </button>
          </div>
          <div class="col-md-2">
               <button onclick="window.open('#sixth','_self')" role="button">
               <a class="" href="#sixth">About Us</a>
              </button>
          </div>
                <div class="col-md-2">
               <button onclick="window.open('#sixth','_self')" role="button">
               <a class="" href="#sixth">About Us</a>
              </button>
          </div>
        </div>
        </div>
  </div>

  </div>

  <div class= "cards row text-center">

      <div class="col-md-3 card hover">
      <h3 align="center"> Heading </h3>
      <center>
      <img src="https://placehold.it/300x200" class="img-responsive"></center>
      <div style="margin-left: 10px;margin-right:10px">
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
      </div>

      <div class="col-md-3 card hover">
      <h3 align="center"> Heading </h3>
      <center><img src="https://placehold.it/300x200" class="img-responsive"></center>
      <div style="margin-left: 10px;margin-right:10px">
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
      </div>

      <div class="col-md-3 card hover">
      <h3 align="center"> Heading </h3>
      <center>
      <img src="https://placehold.it/300x200" class="img-responsive"></center>
      <div style="margin-left: 10px;margin-right:10px">
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
      </div>

      <div class="col-md-3 card hover">
      <h3 align="center"> Heading </h3>
      <center>
      <img src="https://placehold.it/300x200" class="img-responsive"></center>
      <div style="margin-left: 10px;margin-right:10px">
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
      </div>

  </div>
  </div>

</body>
</html>