<!DOCTYPE html>
<html>
<head>

     <meta cha<center>Rset="</utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/cards.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <script type="text/javascript" src = "../js/cards.js" type="module"></script>
    <title>SVNIT FLash</title>
    <link rel="stylesheet" type="text/css" href="../css/canteen.css">
	</head>
<body>
<div class="container-width">
<div class="header navbar navbar-default navbar-fixed-top">
  <div class="row text-center">
      <div class="col-md-3 logo">
              <img src="images/svnit logo.png" align="right" class="img-responsive">
      </div>
      <div class="col-md-9 ">
              <div class="row">
              <div class="col-md-11"> <center><img class="head img-responsive" src="images/head.png" alt="FLASH" ></center>
              </div>
              <div class="col-md-1 svnit"><h1 align="left">SVNIT</h1> </div>
              </div>
              <hr>
              <div class="row">
          <div class="col-md-3">
               <a onclick="window.open('#sixth','_self')" class="btn btn-default buth butt butt" href="https://www.facebook.com" role="button">Home</a>

          </div>
          <div class="col-md-3">
               <a onclick="window.open('#guest_house','_self')" class="btn btn-default buth butt" role="button">Guest House Booking</a>

          </div>
          <div class="col-md-3">
               <a onclick="window.open('#canteen','_self')" class="btn btn-default buth butt"  role="button">Canteen Service</a>

          </div>
          <div class="col-md-3">
               <a onclick="window.open('#sixth','_self')" class="btn btn-default buth butt" href="https://www.facebook.com" role="button">Students Council</a>

          </div>
        </div>
  </div>

  </div>
</div>
</div>

<br><br><br><br><br><br><br><br><br><br>
<div class="container-width sec1">
<div class="row">
<div class="col-md-12 navvy">
  <a onclick="window.open('#sixth','_self')" class="btn btn-default buth butt" href="https://www.facebook.com" role="button" >See Cart</a>
<a onclick="window.open('#sixth','_self')" class="btn btn-default buth butt " href="https://www.facebook.com" role="button"  >Payment</a>


</div>
</div>
<div class="row">
  <div class="col-md-6 ">
  <button class="tablink" onclick="openPage('Beverages', this, '#a9bed8')" >SNACKS</button></div>
  <div class="col-md-6">
  <button class="tablink" onclick="openPage('Drinks', this, '#a9bed8')" >DRINKS</button></div>
  </div>
  <div id="Beverages" class="tabcontent">
  <table>
  <form method="post" action="cart.php" class="form">
   <tr>
    <th><img src="images\dosa.jpg" height="200" width="250">
	<center>Rs. 30</center>
	</th>
     <th><h2><align ="left"> DOSA </align></H2>
	 <div class="form-group">
      <label for="sel1">Quantity</label>
      <select class="form-control" name="dosa">
		<option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select></div>

	 </th>
	  <th><img src="images\manchurian.jpeg" height="200" width="250">
	<center>Rs. 30</center></th>
	 <th>
	 <h2><align ="left"> MANCHURIAN </align></H2>
	 <div class="form-group">
      <label for="sel1">Quantity</label>
      <select class="form-control" name="manchurian">
		<option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select></div>

	 </th>
  </tr>
  <tr>
	<th>
	<img src="images\noodles.jpg" height="200" width="250">
	<center>Rs. 30</center>
	</th>
    <th>
	<h2><align ="left"> NOODLES </align></h2>
	 <div class="form-group">
      <label for="sel1">Quantity</label>
      <select class="form-control" name="noodles">
		<option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select></div>

	</th>
	<th><img src="images\vada pav.jpg" height="200" width="250">
	<center>Rs. 20</center></th>
     <th>
	 <h2><align ="left"> VADA PAV </align></h2>
	 <div class="form-group">
      <label for="sell">Quantity</label>
      <select class="form-control" name="vp">
		<option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select></div>

	 </th>
  </tr>
  <tr>
    <th><img src="images\samosa.jpg" height="200" width="250">
	<center>Rs. 40</center></th>
	<th>
	<h2><align ="left"> SAMOSA </align></h2>
	 <div class="form-group">
      <label for="sel1">Quantity</label>
      <select class="form-control" name="samosa">
		<option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select></div>

	</th>
	<th><img src="images\chole.jpg" height="200" width="250">
	<center>Rs. 30</center></th>
     <th>
	 <h2><align ="left"> CHOLE BHATURE </align></h2>
	 <div class="form-group">
      <label for="sel1">Quantity</label>
      <select class="form-control" name="cb">
		<option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select></div>

	 </th>
  </tr>
  <tr>
    <th><img src="images\sandwich.jpg" height="200" width="250">
	<center>Rs. 30</center></th>
	<th>
	<h2><align ="left"> SANDWICH </align></h2>
	 <div class="form-group">
      <label for="sel1">Quantity</label>
      <select class="form-control" name="sandwich">
		<option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select></div>

	</th>
	<th><img src="images\kachori.jpg" height="200" width="250">
	<center>Rs. 30</center></th>
     <th>
	 <h2><align ="left"> KACHORI </align></h2>
	 <div class="form-group">
      <label for="sel1">Quantity</label>
      <select class="form-control" name="kachori">
		<option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select></div>

	 </th>
  </tr>
  </table>
</div>
<div id="Drinks" class="tabcontent">
  <table>
   <tr>
    <th><img src="images\pineapple.jpg" height="200" width="200">
	<center>Rs. 20</center>
	</th>
    <th><h2><align ="left"> PINEAPPLE JUICE </align></H2>
	 <div class="form-group">
      <label for="sel1">Quantity</label>
      <select class="form-control" name="pj">
		<option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select></div>

	 </th>

	 <th><img src="images\lemon.jpg" height="200" width="200">
	<center>Rs. 30</center></th>

   <th>
	 <h2><align ="left"> LEMON JUICE </align></H2>
	 <div class="form-group">
      <label for="sel1">Quantity</label>
      <select class="form-control" name="lj">
		<option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select> </div>
    </th>
  </tr>
  <tr>
	<th>
	<img src="images\mango.jpg" height="200" width="200">
	<center>Rs. 20</center>
	</th>
    <th>
	<h2><align ="left"> MANGO <br>JUICE</align></h2>
	 <div class="form-group">
      <label for="sel1">Quantity</label>
      <select class="form-control" name="mj">
		<option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select></div>

	</th>
	<th><img src="images\apple.jpg" height="200" width="200">
	<center>Rs. 30</center></th>
     <th>
	 <h2><align ="left"> APPLE JUICE </align></h2>
	 <div class="form-group">
      <label for="sel1">Quantity</label>
	  <form method="post" action="cart.php" >
      <select class="form-control" name="aj" >
		<option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select></div>
	  <button type="submit" class="button">Add to cart</button></form>
	 <!-- <input type="submit" value="submit"></form> -->
	 <!-- <button class="button" type="submit">Add to kcart</button> -->
	 </th>
  </tr>
  </table>
</div>
  <center>

</div>
</div>
</div>
<script>

function openPage(pageName,elmnt,color) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].style.backgroundColor = "";
    }
    document.getElementById(pageName).style.display = " block";
    elmnt.style.backgroundColor = color;

}
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>

</body>
</html>
