<html>
 <head>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/cards.css"  >

    <script type="text/javascript" src = "../js/cards.js" type="module"></script>
    <title>SVNIT FLash</title>
	</head>
<body>
<div class="container-width">
<div class="header navbar navbar-default navbar-fixed-top">
  <div class="row text-center">
      <div class="col-md-3 logo">
              <img src="images/svnit logo.png" align="right" class="img-responsive">
      </div>
      <div class="col-md-9 ">
              <div class="row">
              <div class="col-md-11"> <center><img class="head img-responsive" src="images/head.png" alt="FLASH" ></center>
              </div>
              <div class="col-md-1 svnit"><h1 align="left">SVNIT</h1> </div>
              </div>
              <div class="row">
          <div class="col-md-3">
               <a onclick="window.open('#sixth','_self')" class="btn btn-default buth butt" href="https://www.facebook.com" role="button">Home</a>

          </div>
          <div class="col-md-3">
               <a onclick="window.open('#guest_house','_self')" class="btn btn-default buth butt" role="button">Guest House Booking</a>

          </div>
          <div class="col-md-3">
               <a onclick="window.open('#canteen','_self')" class="btn btn-default buth butt"  role="button">Canteen Service</a>

          </div>
          <div class="col-md-3">
               <a onclick="window.open('#sixth','_self')" class="btn btn-default buth butt" href="https://www.facebook.com" role="button">Students Council</a>

          </div>
        </div>
  </div>

  </div>
</div>
<br><br><br><br><br><br><br><br><br><br>
<div class="container sections">
  

<div class="row text-center">
 <div class="col-md-5 ">
 <img src="images\sgs.jpg" height="200" width="200">
 <h6>Roll No - u12ch081
 Branch - Chemical Engineering<br>
 <u>Email</u></h6>
 <h3>Student General Secretary</h3></div>
 <div class="col-md-5 ">
 <img src="images\aas.jpg"  height="200" width="200">
 <h3>Academic Affair Secretary</h3></div></div>
 <div class="row text-center">
 <div class="col-md-5 ">
 Cultural Secretary</div>
 <div class="col-md-5 ">
 Co-curricular Affair Secretary</div></div>
 <div class="row text-center">
 <div class="col-md-5 ">
 Alumni Training and Placement Secretary</div>
 <div class="col-md-5 ">
 Hostel Affair Secretary</div></div>
 <div class="row text-center">
 <div class="col-md-5 ">
 Sports Secretary</div>
 <div class="col-md-5 ">
 Reasearch and Innovation Secretary</div>
</div>
</html>