<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Test Sucessful!</h1>
    <p>Welcome to SVNIT-FLash</p>

    <ul>
    	
    </ul>

  </body>
</html>
