
<html>
  <head>
    <title>Register for Narmad Bhavan</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <link rel="stylesheet" type="text/css" href="../css/cards.css">
    <script type="text/javascript" src = "../js/cards.js" type="module"></script>

    <title>SVNIT FLash</title>

    <style>
    label{display:inline-block;width:100px;margin-bottom:10px;}
  </style>
  </head>
  <script language="javascript" type="text/javascript">
function randomnumber() {
document.form.randomnumber.value=(Math.round(Math.random()*9999999999999999+1));
}

</script>
  <body>
<<<<<<< HEAD
    <h1>Test Sucessful!</h1>
    <p>Welcome to SVNIT-FLash</p>
    
=======
    <div class="container">
<div class="header navbar navbar-default navbar-fixed-top">
  <div class="row text-center">
      <div class="col-md-3 logo">
              <img src="images/svnit logo.png" class="img-responsive">
      </div>
      <div class="col-md-9 ">
              <div class="row">
              <div class="col-md-12"> <h2> SVNIT Flash </h2>
              </div></div>
              <div class="row">
          <div class="col-md-2">
               <button onclick="window.open('#sixth','_self')" role="button">
               <a class="" href="#sixth">About Us</a>
              </button>
          </div>
          <div class="col-md-2">
               <button onclick="window.open('#sixth','_self')" role="button">
               <a class="" href="#sixth">About Us</a>
              </button>
          </div>
          <div class="col-md-2">
               <button onclick="window.open('#sixth','_self')" role="button">
               <a class="" href="#sixth">About Us</a>
              </button>
          </div>
          <div class="col-md-2">
               <button onclick="window.open('#sixth','_self')" role="button">
               <a class="" href="#sixth">About Us</a>
              </button>
          </div>
                <div class="col-md-2">
               <button onclick="window.open('#sixth','_self')" role="button">
               <a class="" href="#sixth">About Us</a>
              </button>
          </div>
        </div>

        </div></div>

        <br>
>>>>>>> f6b22ff89278a85b5f4d05478ff86fe00520101b
    <div class="container">
      <fieldset>
        <form method="post" action="reg_suc.ejs">
          <h2>Student Details</h2>
          <div class="row text-center">
            <div class="col-md-2 logo">
          <label>First Name</label> </div>
          <div class="col-md-10 ">
          <input type="text" name="Firstname" placeholder="Enter your Firstname" required></div><br /><br />
          <div class="col-md-2 logo">
          <label>Last Name</label></div>
          <div class="col-md-10 ">
          <input type="text" name="Lastname" placeholder="Enter your Lastname" required></div><br /><br>
          <div class="col-md-2 logo ">
          <label>Registration Number</label></div>
          <div class="col-md-10 ">
          <input type="text" name="Registeration Number" placeholder="Enter your Registeration Number" required></div><br /><br /><br>
          <div class="col-md-2 logo ">
          <label>From Date</label></div>
          <div class="col-md-10 ">
          <input type="date" name="From Date" placeholder="Enter your From-Date" required></div><br /><br />
          <div class="col-md-2 logo ">
          <label>To Date</label></div>
          <div class="col-md-10 ">
          <input type="date" name="To Date" placeholder="Enter your To-date" required></div><br /><br />
          <div class="col-md-2 logo ">
           <label>Number of Person</label></div>
           <div class="col-md-10 ">
          <input type="number" name="Number of Persons" placeholder="Number of Persons" required></div><br /><br /></div>
          <h2>Persons Details</h2>
          <h4>Enter the details of Person</h4>
          <div class="row text-center">
          <div class="col-md-2 logo ">
           <label>Name of Person</label></div>
           <div class="col-md-10 ">
          <input type="text" name="Name" placeholder="Enter your Name" required></div><br /><br /><br />
           <div class="col-md-2 logo ">
           <label>Age</label></div>
           <div class="col-md-10 ">
          <input type="number" name="age" placeholder="Enter your Age" required></div><br /><br /><br />
        </div>
          <input type="submit" value="Register">      
          


        </form>
      </fieldset>
    </div>
  <% include index %>
  </body>
</html>
