*{
/*outline: 1px solid red !important;
*/

}
.col-3{
    width : 25%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-top: 3px;
    margin-right: 17px;


}
.row{
    width: 100%;
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
}
.img-responsive{
    display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

div.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.card:hover{
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}