*{
 /*border: 1px solid red !important;
*/

}
.sections{

}
.header{

}
.cards{
    margin-left: 60px;
    margin-right: 20px;


}
.card{

    margin-left: 20px;
    margin-bottom: 20px;
    }
.logo{
    max-width: 120px;
    max-height: 120px;
    margin: 10px;
}
.carousel{margin-top: 90px;
    margin-bottom: 30px;
}
