<!DOCTYPE html>
<html>
  <head>
      {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <link rel="stylesheet" href="{% static 'dotslash/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dotslash/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'dotslash/css/cards.css' %}">
      <link rel="stylesheet" href="{% static 'dotslash/css/style.css' %}">


      <script type="text/javascript" href="{% static 'dotslash/js/cards.js' %}"></script>
      <script type="text/javascript" href="{% static 'dotslash/js/bootstrap.min.js' %}"></script>
      <script type="text/javascript" href="{% static 'dotslash/js/jquery-3.2.1.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>
  </head>
<body>
<div class="container">
<div class="header navbar navbar-default navbar-fixed-top">
  <div class="row text-center">
      <div class="col-md-3 logo">
              <img src='{% static 'dotslash/images/svnit logo.png' %}' class="img-responsive">
      </div>
      <div class="col-md-9 ">
              <div class="row">
              <div class="col-md-12"> <h2> SVNIT Flash </h2>
              </div></div>
              <div class="row">
          <div class="col-md-2">
               <button onclick="window.open('#sixth','_self')" role="button">
               <a class="" href="#sixth">About Us</a>
              </button>
          </div>
          <div class="col-md-2">
               <button onclick="window.open('#sixth','_self')" role="button">
               <a class="" href="#">About Us</a>
              </button>
          </div>
          <div class="col-md-2">
               <button onclick="window.open('#sixth','_self')" role="button">
               <a class="" href="#">About Us</a>
              </button>
          </div>
          <div class="col-md-2">
               <button onclick="window.open('#sixth','_self')" role="button">
               <a class="" href="#">About Us</a>
              </button>
          </div>
                <div class="col-md-2">
               <button onclick="window.open('#sixth','_self')" role="button">
               <a class="" href="#">About Us</a>
              </button>
          </div>
        </div>
        </div>
  </div>
    {% block body %}{% endblock %}

</div></div></body></html>