{% extends 'base.html' %}
{% load static %}
{% block title %}Council{% endblock %}
{% block body %}
    <link rel="stylesheet" type="text/css" href="{% static 'dotslash/css/council.css' %}">
    <div class="container sections rashmit">
        <div class="row text-center">
            <div class=" ">
                <img src="{% static "dotslash/images/person.png" %}" height="200" width="200">
                <h6>Roll No - u12ch081, 
                    Branch - Chemical Engineering<br>
                    <a href="#" class="button">Email</a>
     <!--<div id="loginScreen">
        <a href="" class="cancel">&times;</a>
    </div>--></h6>
                <h3>Student General Secretary</h3></div>
            <div class=" ">
     <img src="{% static "dotslash/images/person.png" %}"  height="200" width="200">
      <h6>Roll No - u12ch081,
     Branch - Chemical Engineering<br>
     <u>Email</u></h6>
     <h3>Academic Affair Secretary</h3></div></div>
     <div class="row text-center">
     <div class=" ">
     <img src="{% static "dotslash/images/person.png" %}"  height="200" width="200">
      <h6>Roll No - u12ch081,
    Branch - Chemical Engineering<br>
     <u>Email</u></h6>
     <h3>Cultural Secretary</h3></div>
     <div class=" ">
     <img src="{% static "dotslash/images/person.png" %}"  height="200" width="200">
      <h6>Roll No - u12ch081,
     Branch - Chemical Engineering<br>
     <u>Email</u></h6>
         <h3>Co-curricular Affair Secretary</h3></div>
     <div class="row text-center">
     <div class=" ">
     <img src="{% static "dotslash/images/person.png" %}"  height="200" width="200">
      <h6>Roll No - u12ch081,
     Branch - Chemical Engineering<br>
     <u>Email</u></h6>
     <h3>Sports Secretary</h3></div>
     <div class=" ">
     <img src="{% static "dotslash/images/person.png" %}"  height="200" width="200">
      <h6>Roll No - u12ch081,
     Branch - Chemical Engineering<br>
     <u>Email</u></h6>
    <h3> Hostel Affair Secretary</h3></div></div>
     <div class="row text-center">
     <div class=" ">
     <img src="{% static "dotslash/images/person.png" %}"  height="200" width="200">
      <h6>Roll No - u12ch081,
     Branch - Chemical Engineering<br>
     <u>Email</u></h6>
     <h3>Alumni Training and Placement Secretary</h3></div>
     <div class=" ">
     <img src="{% static "dotslash/images/person.png" %}"  height="200" width="200">
      <h6>Roll No - u12ch081,
     Branch - Chemical Engineering<br>
     <u>Email</u></h6>
     <h3>Reasearch and Innovation Secretary</h3></div>
    </div>
 </div>
    </div>
{% endblock %}