<!DOCTYPE html>
<!--suppress ALL -->
<html>
<head>
{% load static %}
     <meta chaRset="</utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'dotslash/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dotslash/css/cards.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <script type="text/javascript" src = "{% static 'dotslash/js/cards.js' %}"></script>
    <title>SVNIT FLash</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dotslash/css/canteen.css' %}">
	</head>
<body>
<div class="container-width">
<div class="header navbar navbar-default navbar-fixed-top">
  <div class="row text-center">
      <div class="col-md-3 logo">
              <img src="{% static 'dotslash/images/svnit logo.png' %}" align="right" class="img-responsive">
      </div>
      <div class="col-md-9 ">
              <div class="row">
              <div class="col-md-11"> <center><img class="head img-responsive" src="{% static 'dotslash/images/head.png' %}" alt="FLASH" ></center>
              </div>
              <div class="col-md-1 svnit"><h1 align="left">SVNIT</h1> </div>
              </div>
              <hr>
              <div class="row">
          <div class="col-md-3">
               <a onclick="window.open('#sixth','_self')" class="btn btn-default buth butt butt" href="{% url 'dotslash:home' %}" role="button">Home</a>

          </div>
          <div class="col-md-3">
               <a onclick="window.open('#guest_house','_self')" class="btn btn-default buth butt" role="button" href="{% url 'dotslash:narmad' %}">Guest House Booking</a>

          </div>
          <div class="col-md-3">
               <a onclick="window.open('#canteen','_self')" class="btn btn-default buth butt"  role="button" href="{% url 'dotslash:canteen' %}">Canteen Service</a>

          </div>
          <div class="col-md-3">
               <a onclick="window.open('#sixth','_self')" class="btn btn-default buth butt" href="{% url 'dotslash:council' %}" role="button">Students Council</a>

          </div>
        </div>
  </div>

  </div>
</div>
</div>

<div class="container-width">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
       <img src="{% static "dotslash/images/svnit1.PNG"%}" class="caru img-responsive" style="width:100%; height: 60%">
      <div class="carousel-caption">
      <h1>Campus Life Made Easier</h1>
  </div>
      </div>

      <div class="item">
        <img src="{% static "dotslash/images/narmad1.PNG"%}" class="caru img-responsive" style="width:100%">
      </div>

      <div class="item">
              <img src="{% static "dotslash/images/canteen.jpg"%}" class="caru img-responsive" style="width:100%">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div class="container-width description">
  <div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
  <h1> About FLASH</h1>
  <h3>
    Why waste time on trivial things such as standing in canteen queue or rush here and there to get permission for guesthouse.
    Flash makes life faster and easier by eliminating suck tasks with just a few clicks.
  </h3>
  </div>
  </div>
</div>
<div class="sections">
<div class="container">
  <div class= "cards text-center">
    <div class="card hover" >
      <div class="row">
      <div class="col-md-12">
      <h2 align="center"> Guest House Booking </h2>
      </div></div>
      <hr>
      <div class="row">
      <div class="col-md-4">
      <center>
      <img src="{% static "dotslash/images/narmad2.jpg"%}" class="img-responsive"></center>
      <div style="margin-left: 10px;margin-right:10px">
      </div>
      </div>
      <div class="col-md-8">
      <p>
        Guest House is located on the oppposite side of SVNIT main gate on Surat-Dumas road.It has 12 fully furnshed rooms along with telephone lines and Television.


      </p>

      <p class="button_front butt navvy">Book A Room
      </p>
      </div>
      </div>
      </div>
  <div class="card hover" >
      <div class="row">
      <div class="col-md-12">
      <h2 align="center"> Canteen Services </h2>
      </div></div>
      <hr>
      <div class="row">
      <div class="col-md-4">
      <center>
      <img src="{% static "dotslash/images/narmad2.jpg"%}" class="img-responsive"></center>
      <div style="margin-left: 10px;margin-right:10px">
      </div>
      </div>
      <div class="col-md-8">
      <p>
       Skip waiting in long queues. Order from anywhere and munch on food as soon as you reach canteen.

      </p>
      <p class="button_front butt navvy">Order now
      </p>
      </div>
      </div>
      </div>
  <div class="card hover" >
      <div class="row">
      <div class="col-md-12">
      <h2 align="center">Reach Student's Council</h2>
      </div></div>
      <hr>
      <div class="row">
      <div class="col-md-4">
      <center>
      <img src="{% static "dotslash/images/narmad2.jpg"%}" class="img-responsive"></center>
      <div style="margin-left: 10px;margin-right:10px">
      </div>
      </div>
      <div class="col-md-8">
      <p>
        Guest House is located on the oppposite side of SVNIT main gate on Surat-Dumas road.It has 12 fully furnshed rooms along with telephone lines and Television.


      </p>
      <p class="button_front butt navvy ">Book A Room
      </p>
      </div>
      </div>
      </div>
  </div>
  </div>
</div>
</body>
</html>
