{% include 'base.html' %}
{% block title %}Home{% endblock %}
{% block body %}
  <div class= "cards row text-center">

      <div class="col-md-3 card hover">
      <h3 align="center"> Heading </h3>
      <center>
      <img src="https://placehold.it/300x200" class="img-responsive"></center>
      <div style="margin-left: 10px;margin-right:10px">
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
      </div>

      <div class="col-md-3 card hover">
      <h3 align="center"> Heading </h3>
      <center><img src="https://placehold.it/300x200" class="img-responsive"></center>
      <div style="margin-left: 10px;margin-right:10px">
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
      </div>

      <div class="col-md-3 card hover">
      <h3 align="center"> Heading </h3>
      <center>
      <img src="https://placehold.it/300x200" class="img-responsive"></center>
      <div style="margin-left: 10px;margin-right:10px">
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
      </div>

      <div class="col-md-3 card hover">
      <h3 align="center"> Heading </h3>
      <center>
      <img src="https://placehold.it/300x200" class="img-responsive"></center>
      <div style="margin-left: 10px;margin-right:10px">
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
      </div>

  </div>
{% endblock %}
