{% include 'base.html' %}
{% block title %}Registration{% endblock %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

{% block body %}<style>
.rashmit {
    padding-top: 199px;
}
</style>
    <div class="rashmit">
    <script type="text/javascript">
        function randomnumber() {
        document.forms[0].randomnumber.value=(Math.round(Math.random()*9999999999999999+1));
        }
        onload=randomnumber
    </script>
        <div class="alert alert-success fade in display-4">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Success!</strong> Your registration has been done successfully.
        </div>
        <div class="center-block">

        </div>

       <form action="">
        <input name="randomnumber" readonly>
    </form>
    <p class="display-4"> <a href="{% url 'dotslash:home' %}">Back</a></p>
    </div>
{% endblock %}